$color_1: white;
$color_2: whitesmoke;
$color_3: #181818;
$background-color_1: orange;

@import './base.scss';

#app {
	width: 100%;
	padding: 1rem;
	font-weight: normal;
}

a {
	text-decoration: none;
  margin: 5px;
  padding: 2px;
	color: $color_3;
	font-size: 25px;
  border-radius: 5px;
	transition: 0.4s;
  text-decoration: none;
  font-size: 25px;
  transition: 0.4s;
}

@media (hover: hover) {
	a {
		&:hover {
			background-color: $background-color_1;
			color: $color_3;
		}
	}
}

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
	}

	#app {
		// display: grid;
		// grid-template-columns: 1fr 1fr;
		// padding: 0 2rem;
	}
}
.about {
  display: flex;
  align-items: center;
  color: $color_3;
}

.header-container {
	height: 80px;
  background: linear-gradient(to right,#ece2ab, #e7c88c, #f1b640, #ece2ab);
  color: black;
	.head-title { 
		width: 70%;
		float: left;
	}
	.action-buttons {
    margin-right: 10px;
		float: right;
    a {
      text-decoration: none;
      color: $color_3;
      font-size: 15px;
      transition: 0.4s;
    }
	}
}

.main-content {
  display: flex;
  height: 85vh;
	.sidebar {
    float: left;
		width: 20%;
		border: 2px solid black;
    transition: 0.4s;
		.sidebar-item {
      border: 1px dashed goldenrod;
      color: $color_3;
      margin: auto    ;
      &:hover {
        background-color: $background-color_1;
      }
    }
	}
  main {
    float: right;
		width: 80%;
    height: 100%;
    overflow-y: scroll;
    margin: 5px;
    padding: 5px;
  }
}

.login-form-container {
  width: 275px;
  margin: 80px auto;
  .login-head-info {
    color: $color_3;
    font-size: 25px;
  }
  .login-input {
    text-align: center;
    background: orange;
    color: $color_3;
    font-size: 20px;
    padding: 2px;
    height: 35px;
    width: 260px;
    border: 0.5px solid $background-color_1;
    border-radius: 15px;
    margin: 5px;
    &:hover {
      border: 2px solid black;
    }
  }
  .btn-primary {
    float: right;
    height: 35px;
    width: 60px;
    border: 2px solid $background-color_1;
    border-radius: 15px;
    margin: 5px;
    transition: 0.4s;
    &:hover {
      height: 38px;
      width: 65px;
      background-color: $background-color_1;
      border: 2px solid black;
      color: $color_2;  
    }
  }
}

.card {
  margin: 10px;
  padding: 5px;
  background: linear-gradient(to top,#756a6a, #c5bcab);
  height: 300px;
  width: 250px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.4s;
    &:hover {
      background: linear-gradient(to left,#b98d3a, #dbb83a);
    }
  .card-title {
    font-size: 25px;
  }
  .card-image-content {
    .card-image {
      padding: 5px;
      margin: auto;
      height: 230px;
      width: 230px;
      border: 2px solid yellow;
      border-radius: 5px;
    }
    .card-caption {
      margin: auto;
      font-size: 15px;
    }
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}